.fill-grid {
  display: table;
  width: 100%;
}
.fill-grid .fill-grid_width-full {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.fill-grid .fill-grid_auto {
  display: table-cell;
  width: auto;
  vertical-align: middle;
}
/* GLOBAL */
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoLight';
  src: local('RobotoLight'), url('fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'iconsArtTeam';
  src: local('iconsArtTeam'), url('fonts/icons-ArtTeam.ttf') format('truetype');
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
a {
  color: #2f62a2;
}
body {
  margin: 0;
  padding: 0;
  font: normal 14px "RobotoLight";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
#root {
  height: 100%;
}
select {
  font-size: 16px;
  font-family: "RobotoLight";
  padding: 2px 10px 2px 5px;
  border: solid 1px #E9E9E9;
  transition: border 300ms ease-out;
}
select:hover {
  border: solid 1px #757575;
}
select:focus {
  outline: none;
  border: solid 1px #757575;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
hr {
  border: 0;
  height: 1px;
  border-bottom: dashed 1px #CCC;
}
input {
  font-family: "RobotoLight";
  margin: 0;
  font-size: 16px;
  position: relative;
  width: auto;
  max-width: 94%;
}
input,
textarea {
  border: solid 1px transparent;
  resize: none;
  box-sizing: border-box;
  transition: border 300ms ease-out;
  border-left: none;
}
input:focus,
textarea:focus {
  border-bottom: solid 1px #757575;
  outline: none;
}
textarea {
  padding: 0;
}
textarea:focus {
  overflow-y: visible;
}
/* GLOBAL END */
/* CV INFO */
.cv-version-info {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  border: dashed 1px #CCC;
  padding: 5px;
  font-size: 12px;
  color: #6F6F6F;
}
/* CV INFO END */
/* VERTICAL LISTING */
.vertical-list {
  float: left;
  width: 100%;
}
.vertical-list > li {
  float: left;
  width: 100%;
  border-bottom: solid 1px #AFAFAF;
  padding: 10px 15px;
  background: #575757;
  color: #FFFFFF;
  font-size: 14px;
  box-sizing: border-box;
}
.vertical-list > li:last-child {
  border: none;
}
.vertical-list > li a {
  color: #fff;
  padding: 10px;
  float: left;
  width: 100%;
  box-sizing: border-box;
  background: #000;
}
.vertical-list > li .checkbox {
  display: block;
  line-height: 0;
  /*      &.checked {
      }
      .checker {
        border-color: #3e4650;
        background-color: #fff;
      }*/
}
.vertical-list > li:hover {
  background: #686868;
  -webkit-transition: background 300ms ease-out;
  -moz-transition: background 300ms ease-out;
  -o-transition: background 300ms ease-out;
}
.vertical-list > li.active {
  background: #8F8F8F;
}
/* GROUPED VERTICAL LISTING */
.grouped-list {
  float: left;
  width: 100%;
}
.grouped-list .group-title {
  width: 100%;
  text-align: left;
  color: #fff;
  padding: 5px 15px;
  background: #4D4D4D;
  box-sizing: border-box;
  float: left;
  font: normal 12px "Segoe UI";
}
.grouped-list .group-title.collapsed:after {
  content: '+';
}
.grouped-list .group-title:after {
  content: '-';
  cursor: pointer;
  right: 15px;
  position: absolute;
}
/* GROUPED VERTICAL LISTING END */
/* VERTICAL LISTING END */
.dash {
  margin: 0 2px;
}
/* GLOBAL ANIMATIONS */
/* SHOWING / HIDING */
._fade-in {
  animation: fade-in 1000ms;
  -webkit-animation: fade-in 1000ms;
}
._fade-out {
  animation: fade-out 1000ms;
  -webkit-animation: fade-out 1000ms;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* SHOWING / HIDING END */
/* GLOBAL ANIMATIONS */
.cv-empty {
  background: url("images/cv-empty.png") center 0 no-repeat;
  width: 200px;
  height: 260px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.shadow-base {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1000;
}
.shadow-base._hidden {
  visibility: hidden;
}
.loading {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}
.loading .loading__loader {
  position: absolute;
  top: 0;
}
.loading .loading__loader li {
  height: 10px;
  width: 10px;
  background-color: #608090;
  position: absolute;
  top: 0;
  list-style-type: none;
  left: 0;
  -webkit-animation: loader 1000ms 0 ease-in-out infinite;
  animation: loader 1000ms ease-in-out infinite;
}
.loading .loading__loader li:first-child {
  left: -25px;
}
.loading .loading__loader li:nth-child(2) {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
.loading .loading__loader li:last-child {
  left: 25px;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
/* ANIMATION KEYFRAMES */
/* LOADER */
@keyframes loader {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    background-color: #587eb5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-moz-keyframes loader {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    background-color: #587eb5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    background-color: #587eb5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-o-keyframes loader {
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    background-color: #587eb5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
/* LOADER END */
/* ANIMATION KEYFRAMES END */
.search-bar {
  display: table;
  border-bottom: solid 1px #bababa;
  width: 100%;
}
.search-bar .search-bar__item {
  display: table-cell;
}
.search-bar .search-bar__item.search-bar__item_width-3 {
  width: 3%;
}
.search-bar .search-bar__item.search-bar__item_width-10 {
  width: 10%;
}
.search-bar .search-bar__item.search-bar__item_width-full {
  width: 100%;
}
.search-bar .search-bar__input {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 5px;
  background: transparent;
  border-bottom: none;
}
.search-bar .search-bar__input:focus {
  border-bottom: none;
}
.search-bar .search-bar__icon {
  padding: 10px 0;
}
.search-bar .search-bar__icon:before {
  color: #fff;
}
.pick-up-menu .search-bar-wrapper {
  padding: 0 15px 10px 15px;
}
.pick-up-menu .search-bar .search-bar__input {
  color: #fff;
  font-size: 14px;
}
.pick-up-menu .search-bar .search-bar__icon:before {
  font-size: 14px;
  color: #fff;
}
.search-form .search-bar .search-bar__input {
  font-size: 24px;
}
.search-form .search-bar .search-bar__icon {
  padding: 10px 0;
}
.search-form .search-bar .search-bar__icon:before {
  font-size: 20px;
}
/* NOTIFY */
.notify {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 250px;
  z-index: 10000;
}
.notify .notify__item {
  padding: 5px 10px;
  margin: 5px 0 0 0;
  list-style-type: none;
  font: normal 14px 'Arial';
  color: #fff;
}
.notify .notify__item.notify__item_info {
  background-color: #8ba700;
}
.notify .notify__item.notify__item_error {
  background-color: #af2a0b;
}
.notify .notify__header {
  font-size: 20px;
}
.notify .notify__header .notify__header__text {
  display: inline-block;
}
.notify .notify__body {
  vertical-align: middle;
}
.notify .notify__body .notify__body__text {
  display: inline-block;
  /* width: 75%;*/
}
.notify .notify__body .notify__body__icon {
  display: inline-block;
  width: 20%;
  height: 40px;
  background: #bababa;
}
.notify .notify__close:before {
  content: 'x';
  float: right;
  cursor: pointer;
  font-size: 14px;
}
/* NOTIFY END */
/* SWITCHER */
.switcher {
  width: 60px;
  height: auto;
  font: bold 14px "Arial";
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
}
.switcher .switcher__item {
  height: 100%;
  color: #fff;
  margin: 0;
  padding: 5px 10px;
  background-color: #8ba700;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: auto;
  cursor: pointer;
  border-left: solid 1px #718900;
}
.switcher .switcher__item:first-child {
  border-left: none;
}
.switcher .switcher__item.switcher__item_active {
  background-color: #718900;
  box-shadow: inset 0px 1px 1px #000;
  cursor: default;
  border-left: none;
}
.switcher.switcher_single {
  width: auto;
}
.switcher.switcher_single .switcher__item {
  display: none;
}
.switcher.switcher_single .switcher__item.switcher__item_active {
  background-color: #718900;
  box-shadow: inset 0px 1px 1px #000;
  cursor: default;
  display: table-cell;
  border-left: none;
}
.switcher.switcher_single .switcher__item:active {
  box-shadow: inset 0px 1px 1px #000;
}
/* SWITCHER END */
.drawer {
  position: relative;
}
.drawer .drawer__trigger {
  position: relative;
  width: 100%;
}
.drawer .drawer__content {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 10000;
  background-color: #fff;
}
.drawer.drawer_open .drawer__content {
  display: block;
}
/* FADER */
.fader {
  opacity: 0;
}
.fader.in {
  opacity: 1;
  transition: opacity 200ms ease-out;
}
/* FADER END */
/* ICONS */
.icon {
  font-family: "iconsArtTeam";
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
.icon.logo:before {
  content: '\e638';
}
.icon.experience:before {
  content: "\e60a";
  font-size: 26px;
}
.icon.techs:before {
  content: "\e615";
  font-size: 26px;
}
.icon.prefs:before {
  content: "\e615";
  font-size: 26px;
}
.icon.projects-tie:before {
  content: "\e60d";
  font-size: 26px;
}
.icon.education:before {
  content: "\e60c";
  font-size: 26px;
}
.icon.certificates:before {
  content: "\e609";
  font-size: 26px;
}
.icon.languages:before {
  content: "\e616";
  font-size: 26px;
}
.icon.additionalInfo:before {
  content: "\e609";
  font-size: 26px;
}
.icon.publish:before {
  content: "\e614";
}
.icon.save:before {
  content: "\e60e";
}
.icon.revert:before {
  content: "\e629";
}
.icon.draft:before {
  content: "\e605";
}
.icon.undo:before {
  content: "\e630";
}
.icon.redo:before {
  content: "\e631";
}
.icon.add:before {
  content: "\e610";
}
.icon.export:before {
  content: "\e602";
}
.icon.email:before {
  content: "\e639";
}
.icon.edit:before {
  content: "\e603";
}
.icon.remove:before {
  content: "\e611";
  color: #f00;
}
.icon.up-arrow:before {
  content: "\e620";
  color: #f00;
}
.icon.down-arrow:before {
  content: "\e61f";
  color: #f00;
}
.icon.home:before {
  content: "\e62f";
}
.icon.cvs:before {
  content: "\e637";
}
.icon.pickup:before {
  content: "\e61d";
}
.icon.cv-page:before {
  content: "\e619";
}
.icon.search:before {
  content: "\e61b";
}
.icon.clear:before {
  content: "\e608";
}
.block .icon:before {
  color: #587eb5;
}
.block .icon.add:before {
  font-size: 20px;
  vertical-align: top;
}
.block .icon.remove:before {
  font-size: 20px;
  vertical-align: top;
}
/* COLUMNS */
.column {
  float: left;
  position: relative;
}
.column.center {
  width: 100%;
  box-sizing: border-box;
  margin: 20px 0 0 0;
}
.column .h1 {
  font: normal 52px "RobotoLight";
  color: #2f62a2;
  margin: 0 10px 0 0;
}
.column h1 {
  font: normal 52px "RobotoLight";
  color: #2f62a2;
  margin: 0 10px 0 0;
  display: inline-block;
}
.column .h2 {
  font: normal 26px "RobotoLight";
  color: #2f62a2;
  display: inline-block;
  margin: 0 0 0 15px;
}
.column h2 {
  font: normal 26px "RobotoLight";
  color: #2f62a2;
  display: inline-block;
  margin: 0 0 0 15px;
}
.column .h3 {
  font: normal 22px "RobotoLight";
  color: #333333;
  margin: 10px 0 10px 0;
  display: inline-block;
}
.column h3 {
  font: normal 22px "RobotoLight";
  color: #333333;
  margin: 10px 0 10px 0;
  display: inline-block;
}
.column .p {
  font: normal 16px "RobotoLight";
  color: #333333;
  white-space: pre-wrap;
  word-break: break-word;
}
.column p {
  font: normal 16px "RobotoLight";
  color: #333333;
  white-space: pre-wrap;
  word-break: break-word;
}
/* COLUMNS END */
/* WRAPPERS */
.wrapper {
  width: 100%;
  height: 100%;
  float: left;
  min-width: 920px;
}
.wrapper.content {
  min-width: 620px;
  float: left;
  margin: 0;
  padding: 0 0 0 50px;
  max-width: 960px;
  box-sizing: border-box;
  width: 70%;
}
.wrapper.empty {
  min-width: 620px;
  float: left;
  margin: 0;
  padding: 0 0 0 50px;
  max-width: 960px;
  box-sizing: border-box;
  width: 70%;
  position: relative;
}
/* WRAPPERS END */
/* BLOCKS */
.block {
  float: left;
  width: 100%;
  margin: 0 0 15px 0;
  position: relative;
}
.block:hover .actions {
  opacity: 1;
}
.block .actions {
  position: absolute;
  right: 0;
  top: 8px;
  opacity: 0.2;
  transition: opacity 300ms ease-out;
}
.block .actions .action {
  float: left;
  margin: 0 0 0 5px;
  cursor: pointer;
}
.block .item {
  width: 100%;
  margin: 15px 0;
  position: relative;
}
.block textarea {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.block .tags-wrapper {
  max-width: 94%;
}
.block .tag {
  display: inline-block;
  padding: 2px 5px 3px 5px;
  background: #587eb5;
  color: #fff;
  margin: 5px 5px 0 0;
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
.block .tag.switchable {
  cursor: pointer;
}
.block .tag.switchable b {
  color: #fff;
  margin: 0 0 0 5px;
  font-size: 16px;
  border-left: solid 1px #3A6096;
  box-shadow: -1px 0 0 #638dc9;
  padding: 0 0 0 4px;
}
.block .tag.switchable.selected {
  background: #8BA700;
  color: #fff;
  box-shadow: inset 0 1px 0 #707070;
}
.block .tag.switchable.selected b {
  border-left: solid 1px #6e8b06;
  box-shadow: -1px 0 0 #92b800;
}
.block .tag.highlight {
  background: #ffeb00;
  color: #000;
}
.block .office {
  float: right;
  display: inline-block;
  margin: 10px 0 0 0;
}
.block input.tag:focus {
  background-color: #fff;
  color: #000;
}
.block.preferences h2 {
  margin: 0;
}
.block .action.icon {
  text-decoration: none;
  opacity: 0.2;
  transition: opacity 300ms ease-out;
}
.block .action.icon:hover {
  opacity: 1;
}
.block .label {
  margin: 0 5px 0 0;
}
.block .label:after {
  content: ":";
}
.block .label.left {
  margin: 0 0 0 5px;
}
.block .label.left:after {
  content: "";
}
.block .label.label_bold {
  font-family: 'Roboto';
  color: #999999;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
/* BLOCKS END */
.projects {
  display: block;
  clear: both;
}
.projects h3 {
  font: normal 18px "RobotoLight";
  color: #2f62a2;
  margin: 0;
}
.projects h3.year {
  font-size: 18px;
  text-align: center;
  color: #cdcdcd;
  margin: 15px 0;
  max-width: 880px;
}
.projects .item {
  box-sizing: border-box;
  border-bottom: dashed 1px #CCC;
}
.projects .item .project-header {
  width: 70%;
}
.projects .item input.title,
.projects .item span.title,
.projects .item div.title {
  font: normal 26px "RobotoLight";
  color: #2f62a2;
  max-width: 99%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
.projects .item input.company,
.projects .item span.company,
.projects .item div.company {
  font: normal 16px "RobotoLight";
  color: #2f62a2;
  max-width: 100%;
  margin: 5px 0 0 0;
}
.projects .item input.company .label,
.projects .item span.company .label,
.projects .item div.company .label {
  color: #2f62a2;
}
.projects .item .block p {
  margin: 0;
}
.projects .item .date {
  text-align: right;
  float: right;
  font-size: 12px;
  margin-top: 13px;
}
.projects .item .date select {
  font-size: 12px;
}
.projects .item .date span.from,
.projects .item .date span.to {
  display: block;
  clear: both;
}
.projects textarea {
  margin: 5px 0 0 0;
}
.projects .editable-list .editable-list-actions {
  right: 0;
  top: -14px;
}
/* BUTTONS */
/*DEPRECATED*/
/*.button-group {
  width: 100%;
  text-align: center;
  float: left;
  .button {
    display: inline-block;
    width: 50%;
    a {
      display: inline-block;
      padding: 15px;
    }
  }
}*/
/*DEPRECATED*/
.button {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
  background: #8ba700;
  transition: opacity 200ms ease-out;
}
.button.button_cancel {
  background-color: #af2a0b;
}
.button a {
  text-decoration: none;
  color: #fff;
  padding: 15px 0 15px 15px;
  display: block;
}
.button i {
  font-size: 14px;
  padding: 0 5px 0 0;
}
.button i.undo {
  font-size: 20px;
}
.button i.redo {
  font-size: 20px;
}
.button:hover {
  opacity: 0.8;
}
.button.active:hover {
  opacity: 1;
}
.button[disabled],
.button:disabled,
.button.disabled {
  opacity: 0.6;
}
.button[disabled]:hover,
.button:disabled:hover,
.button.disabled:hover {
  opacity: 0.65;
}
.button[disabled] a,
.button:disabled a,
.button.disabled a {
  pointer-events: none;
}
.button.export {
  background: #587eb5;
}
.button.button_checkable.button_checked {
  border: solid 2px black;
}
/* Multiple buttons in one row */
.button_multi {
  display: table;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
.button_multi .button {
  margin: 0;
  width: auto;
  display: table-cell;
}
.button_multi .button a {
  padding: 15px;
  text-align: center;
}
/* Modal has some overrides for multiple buttons */
.modal .button_multi .button {
  padding: 15px;
  width: 50%;
  color: #fff;
}
/* BUTTONS END */
/*CUSTOM CBX*/
.checkbox {
  display: inline-block;
}
.checkbox .checkbox-label {
  display: inline;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox .checker {
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: solid 2px #3e4650;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
.checkbox .checker:before {
  width: 12px;
  height: 12px;
  content: '';
  overflow: auto;
  display: block;
  border: solid 2px #eee;
  z-index: 100000;
  color: #000;
  background: #ccc;
  -webkit-transition: background 300ms ease-out;
  -moz-transition: background 300ms ease-out;
  -o-transition: background 300ms ease-out;
}
.checkbox.checked .checker:before {
  background: #575757;
  -webkit-transition: background 300ms ease-out;
  -moz-transition: background 300ms ease-out;
  -o-transition: background 300ms ease-out;
}
/*CUSTOM CBX END*/
.app-radio {
  display: inline;
  margin: 0 15px 0 0;
}
.app-radio__label {
  display: inline-block;
  cursor: pointer;
}
.app-radio__control {
  display: inline-block;
  cursor: pointer;
  top: 1px;
}
.app-radio__text {
  margin: 0 0 0 3px;
}
/* CV LIST */
.listing {
  position: relative;
  margin: 0;
  padding: 0;
}
.listing li {
  padding: 10px 15px 2px 15px;
  margin: 0 0 15px 0;
  border: dashed 1px #CCC;
  opacity: 1;
  width: 100%;
  float: left;
  clear: both;
  box-sizing: border-box;
}
.listing li h3 {
  margin: 5px 0;
}
.listing li p {
  color: #333;
  margin: 5px 0;
}
.listing .export-languages {
  float: right;
}
.listing .export-languages li {
  border: none;
  margin: 0 0 5px 0;
  padding: 0;
  width: auto;
  float: none;
  clear: none;
  line-height: 1;
}
.listing .export-languages li label {
  font-size: 14px;
  line-height: 1;
}
.listing .export-languages li label input[type="checkbox"] {
  padding: 0;
  margin: 0 5px 0 0;
  vertical-align: bottom;
}
.listing .export-languages .button {
  text-align: center;
}
.listing .export-languages .button a {
  padding: 5px;
  font-size: 14px;
  text-align: center;
}
.listing .roles {
  float: right;
  margin: 0 20px 0 0;
}
/*.search-form {
  width: 100%;
  float: left;
  border-bottom: solid 1px #757575;
  input {
    font-size: 26px;
    padding: 10px 0 8px 0;
    float: right;
    width: 96%;
    margin: 0;
    &:focus {
      border-bottom: solid 1px transparent;
    }
    &::-webkit-input-placeholder {
      color: @h1-color;
    }
    &:-moz-placeholder {
      color: @h1-color;
    }
  }
  .icon {
    &.search {
      font-size: 20px;
      vertical-align: top;
      float: left;
      margin: 17px 0 0 0;
    }
  }
}*/
.select-all {
  float: right;
  margin: 0 0 10px 0;
}
.select-all .deselect-all {
  color: #b8563f;
}
.locations-pane {
  background: #e9ecf1;
  box-sizing: border-box;
  padding: 15px;
  margin: 15px 0 5px 0;
  /*  .checkbox {
    .checkbox-label {
      color: #fff;
    }
  }*/
}
.found-count {
  float: left;
}
.show-more {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.highlight {
  background: #ffeb00;
  color: #000;
}
.slash {
  margin: 0 5px;
}
.search-form .switcher-wrapper {
  /*    position: absolute;
    right: 1px;
    bottom: 15px;*/
}
.search-form .switcher-wrapper .switcher.switcher_single .switcher__item {
  background-color: #498fad;
}
.search-form .switcher-wrapper .switcher.switcher_single .switcher__item.switcher__item_active {
  background-color: #437794;
  cursor: pointer;
}
/* CV LIST END */
/* EDITABLE LIST */
.editable-list .editable-list-actions-top {
  position: absolute;
  right: 0;
  top: 10px;
}
.editable-list .editable-list-actions {
  position: absolute;
  right: 0;
  top: 5px;
}
.editable-list:hover .icon {
  opacity: 1;
}
.editable-list ul li {
  margin: 10px 0;
  font-size: 16px;
  position: relative;
}
.editable-list ul li .actions {
  display: inline-block;
  position: relative;
  margin: 0 0 6px 0;
}
.editable-list ul li a {
  display: inline-block;
}
/* EDITABLE LIST END */
.pick-up-menu {
  overflow: auto;
  height: 100%;
}
.pick-up-menu .switcher-wrapper {
  /*    position: absolute;
    right: 15px;
    bottom: 22px;*/
}
.pick-up-menu .switcher-wrapper .switcher.switcher_single {
  font-size: 10px;
}
.pick-up-menu .switcher-wrapper .switcher.switcher_single .switcher__item {
  padding: 2px 5px;
  background-color: #498fad;
}
.pick-up-menu .switcher-wrapper .switcher.switcher_single .switcher__item.switcher__item_active {
  background-color: #437794;
  cursor: pointer;
}
/* LOGIN */
.login {
  width: auto;
  height: 300px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}
.login .modal {
  top: auto;
  width: 300px;
  border: dashed 1px #CCC;
  padding: 15px;
  box-sizing: border-box;
  margin: 0 auto;
  background: none;
}
.login .modal div {
  font-size: 18px;
  width: 100%;
}
.login .modal div a {
  font-size: 14px;
  float: right;
}
.login button {
  font-size: 26px;
  font-family: "RobotoLight";
  padding: 10px 0;
  color: #fff;
  border: none;
  float: none;
  background: #0d809c;
}
.login input {
  width: 100%;
  margin: 0 0 15px 0;
  max-width: 100%;
}
.login-logo {
  /* background: url("images/logo-login.png") no-repeat; */
  /* margin: 0; */
  width: 100%;
  /* height: 50px; */
  font-size: 80px;
  color: #747474;
  text-align: center;
}
.login-username {
  display: inline-block;
  margin-bottom: 15px;
}
.login-error {
  color: red;
  margin: 10px 0 0 0;
}
/* LOGIN END */
.modal {
  width: 400px;
  height: auto;
  background: #333;
  box-sizing: border-box;
  position: fixed;
  margin: auto;
  top: 15%;
  right: 0;
  left: 0;
  z-index: 100;
}
.modal .modal__header {
  padding: 15px;
  border-bottom: solid 1px #424242;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.modal .modal__body {
  padding: 15px;
  color: #fff;
}
.modal .modal__footer .button {
  text-align: center;
  font-weight: bold;
}
/* SIDE MENU */
.side-menu-wrapper {
  float: left;
  width: 28%;
  height: 100%;
  position: relative;
  min-height: 100%;
  max-width: 250px;
  min-width: 250px;
}
.side-menu {
  float: left;
  border-right: solid 1px #333333;
  height: 100%;
  max-width: 250px;
  min-width: 250px;
  width: 28%;
  position: fixed;
  background: #333333;
  display: table;
}
.side-menu .logo {
  float: left;
  width: 100%;
  font-size: 65px;
  text-align: center;
}
.side-menu .logo:before {
  color: #fff;
}
.side-menu > li {
  width: 100%;
  height: auto;
  display: table-row;
}
.side-menu > li.fill {
  height: 100%;
}
.side-menu > li .links {
  padding: 10px 15px;
  box-sizing: border-box;
  background: #3E4650;
  margin: 0;
  float: left;
  width: 100%;
  position: relative;
}
.side-menu > li .links li {
  margin: 0 0 5px 0;
  width: 70%;
  font-size: 16px;
}
.side-menu > li .links li a {
  color: #fff;
  text-decoration: none;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease-out;
  -moz-transition: opacity 200ms ease-out;
  -ms-transition: opacity 200ms ease-out;
  -o-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;
}
.side-menu > li .links li a:hover {
  opacity: 1;
}
.side-menu > li .links li a.current {
  opacity: 1;
}
.side-menu > li .links li a.disabled {
  cursor: default;
}
.side-menu > li .links li a.disabled:hover {
  opacity: 0.5;
}
.side-menu > li .links li a span {
  padding: 0 0 0 5px;
}
.side-menu > li .links .icon:before {
  margin: 0 5px 0 0;
  color: #FFF;
  font-size: 16px;
}
.side-menu > li .links .logout {
  font-size: 12px;
  color: #55B3CA;
  width: auto;
  top: 10px;
  position: absolute;
  right: 15px;
}
.side-menu .block.links {
  padding: 15px;
  box-sizing: border-box;
  background: #3E4650;
  margin: 0;
}
.side-menu .block.links ul li {
  margin: 0 0 5px 0;
  width: 100%;
  font-size: 16px;
}
.side-menu .block.links ul li a {
  color: #fff;
}
.side-menu .block.links ul li a.current {
  text-decoration: none;
}
.side-menu .block.links .icon:before {
  margin: 0 5px 0 0;
  color: #FFF;
  font-size: 16px;
}
.side-menu .block.links .logout {
  font-size: 14px;
  float: right;
  color: #55B3CA;
}
.side-menu .modes {
  width: 100%;
  float: left;
}
.side-menu .modes .button {
  background: #464646;
  margin: 0 0 1px 0;
}
.side-menu .modes .button.active {
  background: #fff;
}
.side-menu .modes .button.active a {
  color: #2f62a2;
}
.side-menu .modes .button a {
  color: #979797;
  padding: 10px 0 10px 15px;
  text-align: left;
}
/* SIDE MENU END */
.__absolute-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1080px) {
  .cv-version-info {
    position: relative;
    float: left;
    border: dashed 1px #CCC;
    padding: 5px;
    font-size: 12px;
    color: #6F6F6F;
  }
}
