/* GLOBAL ANIMATIONS */
  /* SHOWING / HIDING */

@_fade-in-speed: 1000ms;
@_fade-out-speed: 1000ms;

  &._fade-in {
    animation: fade-in @_fade-in-speed;
    -webkit-animation: fade-in @_fade-in-speed;
  }
  &._fade-out {
    animation: fade-out @_fade-out-speed;
    -webkit-animation: fade-out @_fade-out-speed;
  }
  .fade-in-rule(@opacity) {
    opacity: @opacity;
  }
  .fade-out-rule(@opacity) {
    opacity: @opacity;
  }

  .keyframes-mixin(fade-in, {
  0% {
    .fade-in-rule(0);
  };
  100% {
    .fade-in-rule(1);
  };
  });


  .keyframes-mixin(fade-out, {
  0% {
    .fade-out-rule(1);
  };
  100% {
    .fade-out-rule(0);
  };
  });
  /* SHOWING / HIDING END */
/* GLOBAL ANIMATIONS */
