/* BLOCKS */

.block {
  float: left;
  width: 100%;
  margin: 0 0 15px 0;
  position: relative;

  &:hover {
    .actions {
      opacity: 1;
    }
  }

  .actions {
    position: absolute;
    right: 0;
    top: 8px;
    opacity: 0.2;
    transition: opacity 300ms ease-out;
    .action {
      float: left;
      margin: 0 0 0 5px;
      cursor: pointer;

    }
  }
  .item {
    width: 100%;
    margin: 15px 0;
    position: relative;
  }
  textarea {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .tags-wrapper {
    max-width: 94%;
  }
  .tag {
    display: inline-block;
    padding: 2px 5px 3px 5px;
    background: @tag-background-color;
    color: #fff;
    margin: 5px 5px 0 0;
    font-size: 16px;
    .font-smoothing('off');
    &.switchable {
      cursor: pointer;
      b {
        color: #fff;
        margin: 0 0 0 5px;
        font-size: 16px;
        border-left: solid 1px #3A6096;
        box-shadow: -1px 0 0 #638DC9;
        padding: 0 0 0 4px;
      }
      &.selected {
        background: #8BA700;
        color: #fff;
        box-shadow: inset 0 1px 0 #707070;
        b {
          border-left: solid 1px #6e8b06;
          box-shadow: -1px 0 0 #92b800;
        }
      }
    }
    &.highlight {
      background: @highlight-background-color;
      color: #000;
    }
  }
  .office {
    float: right;
    display: inline-block;
    margin: 10px 0 0 0;
  }
  input {
    &.tag {
      &:focus {
        background-color: #fff;
        color: #000;
      }
    }
  }
  &.techs {
    h2 {
    }
  }
  &.preferences {
    h2 {
      margin: 0;
    }
  }
  .action {
    &.icon{
      text-decoration: none;
      opacity: 0.2;
      transition: opacity 300ms ease-out;
      &:hover {
        opacity: 1;
      }
    }
  }
  .label {
    margin: 0 5px 0 0;
    &:after {
      content: ":";
    }
    &.left {
      margin: 0 0 0 5px;
      &:after {
        content: "";
      }
    }
    &.label_bold {
      font-family: 'Roboto';
      color: #999999;
      .font-smoothing('off');
    }
  }
}

/* BLOCKS END */
.projects {
  display: block;
  clear: both;
  h3 {
    font: normal 18px "RobotoLight";
    color: #2f62a2;
    margin: 0;
    &.year {
      font-size: 18px;
      text-align: center;
      color: #cdcdcd;
      margin: 15px 0;
      max-width: 880px;
    }
  }
  .item {
    box-sizing: border-box;
    border-bottom: dashed 1px #CCC;
    .project-header {
      width: 70%;
    }
    input,span, div {
      &.title {
        font: normal 26px "RobotoLight";
        color: #2f62a2;
        max-width: 99%;
        .font-smoothing('off');
      }
      &.company {
        font: normal 16px "RobotoLight";
        color: #2f62a2;
        max-width: 100%;
        margin: 5px 0 0 0;
        .label {
          color: #2f62a2;
        }
      }
    }
    .block {
      p {
        margin: 0;
      }
    }
    .date {
      text-align: right;
      float: right;
      font-size: 12px;
      margin-top: 13px;
      select {
        font-size: 12px;
      }
      span {
        &.from,
        &.to {
          display: block;
          clear: both;
        }
      }
    }
  }
  textarea {
    margin: 5px 0 0 0;
  }
  .editable-list {
    .editable-list-actions {
      right: 0;
      top: -14px;
    }
  }
}
