
@button_error_background: #AF2A0B;

/* BUTTONS */
/*DEPRECATED*/
/*.button-group {
  width: 100%;
  text-align: center;
  float: left;
  .button {
    display: inline-block;
    width: 50%;
    a {
      display: inline-block;
      padding: 15px;
    }
  }
}*/
/*DEPRECATED*/

.button {
  //float: left;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  cursor: pointer;
  background: @button-background-color;
  transition: opacity 200ms ease-out;

  &.button_cancel {
    background-color: @button_error_background;
  }

  a {
    text-decoration: none;
    color: #fff;
    padding: 15px 0 15px 15px;
    display: block;
  }

  i {
    font-size: 14px;
    padding: 0 5px 0 0;
    &.undo {
      font-size: 20px;
    }
    &.redo {
      font-size: 20px;
    }
  }


  &:hover {
    opacity: 0.8;
  }

  &.active {
    &:hover {
      opacity: 1;
    }
  }

  &[disabled],
  &:disabled,
  &.disabled {
    opacity: 0.6;
    &:hover {
      opacity: 0.65;
    }

    a {
      pointer-events: none;
    }
  }

  &.export {
    background: @button-expot-background-color;
  }

  &.button_checkable {
    &.button_checked {
      border: solid 2px black;
    }
  }
}

/* Multiple buttons in one row */

.button_multi {
  display: table;
  width: 100%;
  height: auto;
  margin:0;
  padding: 0;

  .button {
    margin:0;
    width: auto;
    display: table-cell;
    a {
      padding: 15px;
      text-align: center;
    }
  }
}

/* Modal has some overrides for multiple buttons */

.modal {
  .button_multi {
    .button {
      padding: 15px;
      width: 50%;
      color: #fff;
    }
  }
}

/* BUTTONS END */