/*CUSTOM CBX*/

.checkbox {
  display: inline-block;
  .checkbox-label{
    display: inline;
    vertical-align: middle;
    cursor: pointer;
  }
  .checker{
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: solid 2px #3e4650;
    background: transparent;
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0 0;
    &:before {
      width: 12px;
      height: 12px;
      content: '';
      overflow: auto;
      display: block;
      border: solid 2px #eee;
      z-index: 100000;
      color: #000;
      background: #ccc;

      -webkit-transition: background 300ms ease-out;
      -moz-transition: background 300ms ease-out;
      -o-transition: background 300ms ease-out;
    }
  }
  &.checked {
    .checker {
      &:before {
        background: #575757;

        -webkit-transition: background 300ms ease-out;
        -moz-transition: background 300ms ease-out;
        -o-transition: background 300ms ease-out;
      }
    }
  }
}

/*CUSTOM CBX END*/
