/* COLUMNS */

.column {
  float: left;
  position: relative;

  &.center {
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0 0 0;
  }

  .h1 {
    font: normal 52px "RobotoLight";
    color: @h1-color;
    margin: 0 10px 0 0;
  }
  h1 {
    .h1;
    display: inline-block;
  }
  .h2 {
    font: normal 26px "RobotoLight";
    color: @h2-color;
    display: inline-block;
    margin: 0 0 0 15px;
  }
  h2 {
    .h2;
  }
  .h3 {
    font: normal 22px "RobotoLight";
    color: @h3-color;
    margin: 10px 0 10px 0;
    display: inline-block;
  }
  h3 {
    .h3;
  }
  .p {
    font: normal 16px "RobotoLight";
    color: @p-color;
    white-space: pre-wrap;
    word-break: break-word;
  }
  p {
    .p;
  }
}


/* COLUMNS END */
