/* CV LIST */

.listing {
  position: relative;
  margin: 0;
  padding: 0;
  li {
    padding: 10px 15px 2px 15px;
    margin: 0 0 15px 0;
    border: dashed 1px #CCC;
    opacity: 1;
    width: 100%;
    float: left;
    clear: both;
    box-sizing: border-box;
    h3 {
      margin: 5px 0;
    }
    p {
      color: #333;
      margin: 5px 0;
    }
  }
  .export-languages {
    float: right;
    li {
      border: none;
      margin: 0 0 5px 0;
      padding: 0;
      width: auto;
      float: none;
      clear: none;
      line-height: 1;
      label {
        font-size: 14px;
        line-height: 1;
        input[type="checkbox"] {
          padding: 0;
          margin: 0 5px 0 0;
          vertical-align: bottom;
        }
      }
    }
    .button {
      text-align: center;
      a {
        padding: 5px;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  .roles {
    float: right;
    margin: 0 20px 0 0;
  }
}

/*.search-form {
  width: 100%;
  float: left;
  border-bottom: solid 1px #757575;
  input {
    font-size: 26px;
    padding: 10px 0 8px 0;
    float: right;
    width: 96%;
    margin: 0;
    &:focus {
      border-bottom: solid 1px transparent;
    }
    &::-webkit-input-placeholder {
      color: @h1-color;
    }
    &:-moz-placeholder {
      color: @h1-color;
    }
  }
  .icon {
    &.search {
      font-size: 20px;
      vertical-align: top;
      float: left;
      margin: 17px 0 0 0;
    }
  }
}*/

.select-all {
  float: right;
  margin: 0 0 10px 0;
  .deselect-all {
    color: #b8563f;
  }
}

.locations-pane {
  background: #e9ecf1;
  box-sizing: border-box;
  padding: 15px;
  margin: 15px 0 5px 0;
/*  .checkbox {
    .checkbox-label {
      color: #fff;
    }
  }*/
}

.found-count {
  float:left;
}

.show-more {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.highlight {
  background: @highlight-background-color;
  color: #000;
}

.slash {
  margin: 0 5px;
}

.search-form {
  .switcher-wrapper {
/*    position: absolute;
    right: 1px;
    bottom: 15px;*/
    .switcher {
      &.switcher_single {
        .switcher__item {
          background-color: #498fad;
          &.switcher__item_active {
            background-color: #437794;
            cursor: pointer;
          }
        }

      }
    }
  }
}


/* CV LIST END */

