.drawer {
  position: relative;
  .drawer__trigger {
    position: relative;
    width:100%;
  }
  .drawer__content {
    display: none;
    position: absolute;
    width:100%;
    z-index: 10000;
    background-color: #fff;
  }

  &.drawer_open {
    .drawer__content {
      display: block;
    }
  }

}
