/* EDITABLE LIST */

.editable-list {
  .editable-list-actions-top {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .editable-list-actions {
    position: absolute;
    right: 0;
    top: 5px;
  }
  &:hover {
    .icon {
      opacity: 1;
    }
  }

  ul {
    li {
      margin: 10px 0;
      font-size: 16px;
      position: relative;

      .actions {
        display: inline-block;
        position: relative;
        margin: 0 0 6px 0;
      }
      a {
        display: inline-block;
      }


    }
  }

}

/* EDITABLE LIST END */
