.fill-grid {
  display: table;
  width: 100%;
  .fill-grid_width-full {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
  }
  .fill-grid_auto {
    display: table-cell;
    width: auto;
    vertical-align: middle;
  }
}

.fill-grid_width(@val) {
  width: @val;
  display: table-cell;
  vertical-align: middle;
}