/* ICONS */

.icon {
  font-family: "iconsArtTeam";
  position: relative;
  top: 1px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;

  &.logo {
    &:before {
      content: '\e638';
    }
  }

  &.experience {
    &:before {
      content: "\e60a";
      font-size: @block-header-icon-size;
    }
  }
  &.techs {
    &:before {
      content: "\e615";
      font-size: @block-header-icon-size;
    }
  }
  &.prefs {
    &:before {
      content: "\e615";
      font-size: @block-header-icon-size;
    }
  }
  &.projects-tie {
    &:before {
      content: "\e60d";
      font-size: @block-header-icon-size;
    }
  }
  &.education {
    &:before {
      content: "\e60c";
      font-size: @block-header-icon-size;
    }
  }
  &.certificates {
    &:before {
      content: "\e609";
      font-size: @block-header-icon-size;
    }
  }
  &.languages {
    &:before {
      content: "\e616";
      font-size: @block-header-icon-size;
    }
  }
  &.additionalInfo {
    &:before {
      content: "\e609";
      font-size: @block-header-icon-size;
    }
  }
  &.publish {
    &:before {
      content: "\e614";
    }
  }
  &.save {
    &:before {
      content: "\e60e";
    }
  }
  &.revert {
    &:before {
      content: "\e629";
    }
  }
  &.draft {
    &:before {
      content: "\e605";
    }
  }
  &.undo {
    &:before {
      content: "\e630";
    }
  }
  &.redo {
    &:before {
      content: "\e631";
    }
  }
  &.add {
    &:before {
      content: "\e610";
    }
  }
  &.export {
    &:before {
      content: "\e602";
    }
  }
  &.email {
    &:before {
      content: "\e639";
    }
  }
  &.edit {
    &:before {
      content: "\e603";
    }
  }
  &.remove {
    &:before {
      content: "\e611";
      color: #f00;
    }
  }
  &.up-arrow {
    &:before {
      content: "\e620";
      color: #f00;
    }
  }
  &.down-arrow {
    &:before {
      content: "\e61f";
      color: #f00;
    }
  }
  &.home {
    &:before {
      content: "\e62f";
    }
  }
  &.cvs {
    &:before {
      content: "\e637";
    }
  }
  &.pickup {
    &:before {
      content: "\e61d";
    }
  }
  &.cv-page {
    &:before {
      content: "\e619";
    }
  }
  &.search {
    &:before {
      content: "\e61b";
    }
  }
  &.clear {
    &:before {
      content: "\e608";
    }
  }
}

.block {
  .icon {
    &:before {
      color: @block-header-icon-color;
    }
    &.add {
      &:before {
        font-size: 20px;
        vertical-align: top;
      }
    }
    &.remove {
      &:before {
        font-size: 20px;
        vertical-align: top;
      }
    }
  }
}
