/* LOGIN */

.login {
  width: auto;
  height: 300px;
  margin: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  .modal {
    top: auto;
    width: 300px;
    border: dashed 1px #CCC;
    padding: 15px;
    box-sizing: border-box;
    margin: 0 auto;
    background: none;
    div {
      font-size: 18px;
      width: 100%;
      a {
        font-size: 14px;
        float: right;
      }
    }
  }
  button {
    font-size: 26px;
    font-family: "RobotoLight";
    padding: 10px 0;
    color: #fff;
    border: none;
    float: none;
    background: #0d809c;
  }
  input {
    width: 100%;
    margin: 0 0 15px 0;
    max-width: 100%;
  }
}







.login-logo {
  /* background: url("images/logo-login.png") no-repeat; */
  /* margin: 0; */
  width: 100%;
  /* height: 50px; */
  font-size: 80px;
  color: #747474;
  text-align: center;

}

.login-username {
  display: inline-block;
  margin-bottom: 15px;
}

.login-error {
  color: red;
  margin: 10px 0 0 0;
}
/* LOGIN END */
