/* GLOBAL */

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url('fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'RobotoLight';
  src: local('RobotoLight'), url('fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'iconsArtTeam';
  src: local('iconsArtTeam'), url('fonts/icons-ArtTeam.ttf') format('truetype');
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  color: @link-color;
}

body {
  margin: 0;
  padding: 0;
  font: normal 14px "RobotoLight";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

select {
  font-size: 16px;
  font-family: "RobotoLight";
  padding: 2px 10px 2px 5px;
  border: solid 1px #E9E9E9;
  transition: border 300ms ease-out;
  &:hover {
    border: solid 1px #757575;
  }
  &:focus {
    outline: none;
    border: solid 1px #757575;
  }
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

hr {
  border: 0;
  height: 1px;
  border-bottom: dashed 1px #CCC;
}

input {
  font-family: "RobotoLight";
  margin: 0;
  font-size: 16px;
  position: relative;
  width: auto;
  max-width: 94%;
}

input, textarea {
  border: solid 1px transparent;
  resize: none;
  box-sizing: border-box;
  transition: border 300ms ease-out;
  border-left: none;
  &:focus {
    border-bottom: solid 1px #757575;
    outline: none;
  }
}

textarea {
  padding:0;
  &:focus {
    overflow-y: visible;
  }
}

/* GLOBAL END */

/* CV INFO */

.cv-version-info {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  border: dashed 1px #CCC;
  padding: 5px;
  font-size: 12px;
  color: #6F6F6F;
}

/* CV INFO END */

/* VERTICAL LISTING */

.vertical-list {
  float: left;
  width: 100%;
  & > li {

    float: left;
    width: 100%;
    border-bottom: solid 1px #AFAFAF;
    padding: 10px 15px;
    background: #575757;
    color: #FFFFFF;
    font-size: 14px;
    box-sizing: border-box;
    &:last-child {
      border: none;
    }
    a {
      color: #fff;
      padding: 10px;
      float: left;
      width: 100%;
      box-sizing: border-box;
      background: #000;
    }
    .checkbox{
      display: block;
      line-height: 0;
/*      &.checked {
      }
      .checker {
        border-color: #3e4650;
        background-color: #fff;
      }*/
    }
    &:hover {
      background: #686868;
      -webkit-transition: background 300ms ease-out;
      -moz-transition: background 300ms ease-out;
      -o-transition: background 300ms ease-out;
    }
    &.active {
      background: #8F8F8F;
    }
  }
}

/* GROUPED VERTICAL LISTING */

.grouped-list {
  float: left;
  width: 100%;

  .group-title {
    width: 100%;
    text-align: left;
    color: #fff;
    padding: 5px 15px;
    background: #4D4D4D;
    box-sizing: border-box;
    float: left;
    font: normal 12px "Segoe UI";

    &.collapsed {
      &:after {
        content: '+';
      }
    }

    &:after {
      content: '-';
      cursor: pointer;
      right: 15px;
      position: absolute;
    }
  }
}

/* GROUPED VERTICAL LISTING END */

/* VERTICAL LISTING END */


.dash {
  margin: 0 2px;
}
