.modal {
  width: 400px;
  height: auto;
  background: #333;
  box-sizing: border-box;
  position: fixed;
  margin: auto;
  top: 15%;
  right: 0;
  left: 0;
  z-index: 100;

  .modal__header {
    padding: 15px;
    border-bottom: solid 1px #424242;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
  .modal__body {
    padding: 15px;
    color: #fff;
  }
  .modal__footer {
    .button {
      text-align: center;
      font-weight: bold;
    }
  }

}