/* NOTIFY */
@notify_width: 250px;

@notify__item_font-family: 'Arial';
@notify__item_padding: 5px 10px;
@notify__item_margin: 5px 0 0 0;
@notify__item_background-error: #AF2A0B;
@notify__item_background-info: #8ba700;

.notify {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: @notify_width;
  z-index: 10000;
  .notify__item {
    padding: @notify__item_padding;
    margin: @notify__item_margin;
    list-style-type: none;
    font: normal 14px @notify__item_font-family;
    color: #fff;

    &.notify__item_info {
      background-color: @notify__item_background-info;
    }
    &.notify__item_error {
      background-color: @notify__item_background-error;
    }

  }
  .notify__header {
    font-size: 20px;
    .notify__header__text {
      display: inline-block;
    }
  }
  .notify__body {
    vertical-align: middle;
    .notify__body__text {
      display: inline-block;

     /* width: 75%;*/
    }
    .notify__body__icon {
      display: inline-block;

      width: 20%;
      height: 40px;
      background: #bababa;
    }
  }
  .notify__footer {
  }
  .notify__close {
    &:before {
      content: 'x';
      float: right;
      cursor: pointer;
      font-size: 14px;
    }
  }
}

/* NOTIFY END */
