.pick-up-menu {
  overflow: auto;
  height: 100%;

}
.pick-up-menu {
  .switcher-wrapper {
/*    position: absolute;
    right: 15px;
    bottom: 22px;*/
    .switcher {
      &.switcher_single {
        font-size: 10px;
        .switcher__item {
          padding: 2px 5px;
          background-color: #498fad;
          &.switcher__item_active {
            background-color: #437794;
            cursor: pointer;
          }
        }

      }
    }
  }
}

