@loader-animation-name: loader;
@loader-speed: 1000ms;

.loading {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;

  .loading__loader {
    position: absolute;
    top: 0;
    li {
      height: 10px;
      width: 10px;
      background-color: #608090;
      position: absolute;
      top: 0;
      list-style-type: none;
      left: 0;

      //-webkit-animation: loader @loader-speed ease-in-out infinite;

      .animation-mixin (loader, @loader-speed, 0, ease-in-out, infinite);


      &:first-child {
        left: -25px;
      }
      &:nth-child(2) {
        .animation-delay-mixin (100ms)
      }
      &:last-child {
        left: 25px;
        .animation-delay-mixin (200ms)
      }
    }
  }
}

/* ANIMATION KEYFRAMES */
/* LOADER */


.loader-animation-rule(@string) {
.transform-mixin(@string);
}

.keyframes-mixin(@loader-animation-name, {
0% {
  .loader-animation-rule(scale(1,1));
}
50% {
  .loader-animation-rule(scale(1.5,1.5));
   background-color: #587eb5;
}
100% {
  .loader-animation-rule(scale(1,1));
  }
});

/* LOADER END */
/* ANIMATION KEYFRAMES END */
