.app-radio {
  display: inline;
  margin: 0 15px 0 0;
}
.app-radio__label {
  display: inline-block;
  cursor: pointer;
}

.app-radio__control {
  display: inline-block;
  cursor: pointer;
  top: 1px;
}

.app-radio__text {
  margin: 0 0 0 3px;
}