.search-bar-wrapper {

}

.search-bar {
  display: table;
  border-bottom: solid 1px #bababa;
  width: 100%;

  .search-bar__item {
    display: table-cell;
    &.search-bar__item_width-3 {
      width: 3%;
    }
    &.search-bar__item_width-10 {
      width: 10%;
    }
    &.search-bar__item_width-full {
      width: 100%;
    }
  }

  .search-bar__input {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 5px;
    background: transparent;
    border-bottom: none;
    &:focus {
      border-bottom: none;
    }
  }

  .search-bar__icon {
    padding: 10px 0;
    &:before {
      color: #fff;
    }
  }

}

.pick-up-menu {
  .search-bar-wrapper {
    padding: 0 15px 10px 15px;
  }
  .search-bar {
    .search-bar__input {
      color: #fff;
      font-size: 14px;
    }
    .search-bar__icon {
      &:before {
        font-size: 14px;
        color: #fff;
      }
    }
  }

}

.search-form {
  .search-bar {
    .search-bar__input {
      font-size: 24px;
    }
    .search-bar__icon {
      padding: 10px 0;
      &:before {
        font-size: 20px;
      }
    }
  }
}