/* SIDE MENU */

.side-menu-wrapper {
  float: left;
  width: 28%;
  height: 100%;
  position: relative;
  min-height: 100%;
  max-width: 250px;
  min-width: 250px;
}

.side-menu {
  float:left;
  border-right: solid 1px #333333;
  height: 100%;
  max-width: 250px;
  min-width: 250px;
  width: 28%;
  position: fixed;
  background: #333333;
  display: table;
  .logo {
    //background: url("images/logo-side-menu.png") center 0 no-repeat;
    //margin: 15px 0;
    float: left;
    width: 100%;
    //height: 50px;
    font-size: 65px;
    text-align: center;
    &:before {
      color: #fff;
    }
  }
  & > li {
    width: 100%;
    height: auto;
    display: table-row;
    &.fill {
      height: 100%;
    }

    .links {
      padding: 10px 15px;
      box-sizing: border-box;
      background: #3E4650;
      margin: 0;
      float:left;
      width: 100%;
      position: relative;
        li {
          margin: 0 0 5px 0;
          width: 70%;
          font-size: 16px;
          a {
            color: #fff;
            text-decoration: none;
            opacity: 0.5;
            -webkit-transition: opacity 200ms ease-out;
            -moz-transition: opacity 200ms ease-out;
            -ms-transition: opacity 200ms ease-out;
            -o-transition: opacity 200ms ease-out;
            transition: opacity 200ms ease-out;
            &:hover {
              opacity: 1;
            }
            &.current {
              opacity: 1;
            }
            &.disabled {
              cursor: default;
              &:hover {
                opacity: 0.5;
              }
            }
            span {
              padding: 0 0 0 5px;
            }
          }
        }
      .icon {
        &:before {
          margin: 0 5px 0 0;
          color: #FFF;
          font-size: 16px;
        }
      }
      .logout {
        font-size: 12px;
        color: #55B3CA;
        width: auto;
        top: 10px;
        position: absolute;
        right: 15px;
      }
    }

  }


  .block {
    &.links {
      padding: 15px;
      box-sizing: border-box;
      background: #3E4650;
      margin: 0;
      ul {
        li {
          margin: 0 0 5px 0;
          width: 100%;
          font-size: 16px;
          a {
            color: #fff;
            &.current {
              text-decoration: none;
            }
          }
        }
      }
      .icon {
        &:before {
          margin: 0 5px 0 0;
          color: #FFF;
          font-size: 16px;
        }
      }
      .logout {
        font-size: 14px;
        float: right;
        color: #55B3CA;
      }
    }
  }
  .modes {
    width: 100%;
    float: left;
    .button {
      background: #464646;
      margin: 0 0 1px 0;
      &.active {
        background: #fff;
        a {
          color: #2f62a2;
        }
      }
      a {
        color: #979797;
        padding: 10px 0 10px 15px;
        text-align: left;
      }
    }
  }
  .actions {

  }
}

/* SIDE MENU END */
