/* SWITCHER */

.switcher {
  width: 60px;
  height: auto;
  font: bold 14px "Arial";
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
  .switcher__item {
    height: 100%;
    color: #fff;
    margin: 0;
    padding: 5px 10px;
    background-color: #8ba700;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: auto;
    cursor: pointer;
    border-left: solid 1px #718900;
    &:first-child {
      border-left: none;
    }
    &.switcher__item_active {
      background-color: #718900;
      box-shadow: inset 0px 1px 1px #000;
      cursor: default;
      border-left: none;
    }
  }
  &.switcher_single {
    width: auto;
    .switcher__item {
      display: none;
      &.switcher__item_active {
        background-color: #718900;
        box-shadow: inset 0px 1px 1px #000;
        cursor: default;
        display: table-cell;
        border-left: none;
        &:active {

        }
      }
      &:active {
        box-shadow: inset 0px 1px 1px #000;

      }
    }
  }
}

/* SWITCHER END */