@h1-color: #2f62a2;
@h2-color: #2f62a2;
@h3-color: #333333;
@p-color: #333333;
@link-color: #2f62a2;
@highlight-background-color: #ffeb00;
@button-background-color: #8ba700;
@button-expot-background-color: #587eb5;
@block-header-icon-size:  26px;
@block-header-icon-color:  #587eb5;
@tag-background-color: #587eb5;

@fader-speed: 200ms;
