/* WRAPPERS */

.wrapper {
  width: 100%;
  height: 100%;
  float: left;
  min-width: 920px;
  &.content {
    min-width: 620px;
    float: left;
    margin: 0;
    padding: 0 0 0 50px;
    max-width: 960px;
    box-sizing: border-box;
    width: 70%;
  }
  &.empty {
    min-width: 620px;
    float: left;
    margin: 0;
    padding: 0 0 0 50px;
    max-width: 960px;
    box-sizing: border-box;
    width: 70%;
    position: relative;
  }
}

/* WRAPPERS END */
